.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
}

.logo {
  height: 12rem;
}

.auth-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.auth-box .nav-link {
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.auth-box .nav-link:hover {
  box-shadow: inset 0 0 0 2px #fd8b51;
  border-radius: 50%;
}

.unauthorized {
  background-color: #ffecb3;
}
