.hero-section {
  background: linear-gradient(135deg, #ffecb3, #ffcc80);
  /* background-image: linear-gradient(to right bottom, #b3e5fc, #81d4fa); 6*/
  /* background-image: linear-gradient(to right bottom, #c5cae9, #bbdefb); */
  /* background-image: linear-gradient(to right bottom, #b2ebf2, #80deea); 6*/
  /* background-image: linear-gradient(to right bottom, #e1f5fe, #b3e5fc); 8*/
}

.main-info-box {
  display: flex;
  flex-direction: column;
  max-width: 130rem;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.hero-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-box img {
  max-width: 20%;
}

.title {
  font-size: 4.4rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 2rem;
}

.hero-btn {
  font-size: 2.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 3rem;
}

.hero-btn:hover {
  text-decoration: underline;
}
