.hero-section {
  background: linear-gradient(to bottom, #ffecb3, #ffcc80, #c5cae9);
}

.main-info-box {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  margin: 0 auto;
  padding: 16rem 0;
}

.hero-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-box img {
  max-width: 25%;
}

.title {
  font-size: 5.5rem;
  margin-bottom: 3rem;
}

.description {
  font-size: 2.4rem;
}

.hero-btn {
  font-size: 2.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 3rem;
}

.hero-btn:hover {
  text-decoration: underline;
}
