/* 
------TYPOGRAPHY

- FONT SIZE
10, 12, 14, 16, 18, 20, 24, 30, 36, 44, 52, 62, 74, 86, 98

- FONT WEIGHT
Default: 400

- LINE HEIGHT
Default: 1

- SPACING SYSTEM

--------COLORS
- PRIMARY: #ffecb3, #ffcc80= pure black text / #c5cae9, #bbdefb= pure black text
- TINTS: #333
- SHADES: #e6b873, #cca366

--------BORDER-RADIUS

--------WHITE SPACE: 2, 4, 8, 12, 16, 24, 32, 48, 64, 80, 96, 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Neue", cursive;
  line-height: 1;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 5rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
