/* 
------TYPOGRAPHY

- FONT SIZE
10, 12, 14, 16, 18, 20, 24, 30, 36, 44, 52, 62, 74, 86, 98

- FONT WEIGHT
Default: 400

- LINE HEIGHT
Default: 1

- SPACING SYSTEM

--------COLORS
Use darker text on the yellow section (dark gray or navy), while you can use white or medium gray on the blue section to maintain contrast
- PRIMARY: #ffecb3, #ffcc80, orrrr #fff3e0, #ffe0b2 = pure black text / #c5cae9, #bbdefb orrr #e8eaf6, #e3f2fd = pure black text
- TINTS: #333333
- SHADES: #e6b873, #cca366

--------BORDER-RADIUS

--------WHITE SPACE: 2, 4, 8, 12, 16, 24, 32, 48, 64, 80, 96, 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}
