.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.formRegisterInputs {
  width: 100%;
  grid-column: 1 / 2;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formLoginInputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.inputReg {
  height: 3.5rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  border: 1px solid #000;
}

.inputLogin {
  height: 3.5rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  border: 1px solid #000;
}

.nameBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nameInputBox {
  display: flex;
  gap: 1rem;
}

.nameBox p {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

.passBox {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.nameInputBox .question {
  justify-self: end;
}

.question {
  align-self: center;
  justify-self: center;
  font-size: 1.2rem;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
}

.question:hover {
  cursor: pointer;
}

.passBox input {
  width: 100%;
}

.greetingKids {
  max-width: 17rem;
  grid-column: 2 / 3;
  align-self: center;
  justify-self: center;
}

.groupHug {
  max-width: 17rem;
  align-self: center;
  justify-self: center;
}

.guidelinesBox {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 1rem;
}

.guidelinesCheckBox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
}

.guidelinesBox p {
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.btnReg {
  grid-column: 1 / 3;
  width: 20rem;
  margin: 2rem auto 2rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: 1px solid #ffd495;
  border-radius: 9px;
  cursor: pointer;
  position: relative;
  background: linear-gradient(to right, #fffbac, #ffd495);
  color: #333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btnLogin {
  grid-column: 1 / 2;
  align-self: start;
  width: 20rem;
  margin: 3rem auto 1rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: 1px solid #ffd495;
  border-radius: 9px;
  cursor: pointer;
  background: linear-gradient(to right, #fffbac, #ffd495);
  color: #333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btnReg:hover,
.btnLogin:hover {
  animation: bounce 0.3s ease-in-out;
}

.infoBox {
  position: relative;
  display: flex;
}

.tooltip {
  width: 20rem;
  position: absolute;
  bottom: 80%; /* position above the "?" */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.75rem 0.5rem;
  border-radius: 9px;
  font-size: 1.2rem;
  opacity: 0; /* hidden by default */
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.infoBox:hover .tooltip {
  opacity: 1; /* show on hover */
  visibility: visible;
  transform: translateX(-50%) translateY(-10px); /* slide up animation */
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.error {
  font-size: 1.2rem;
  color: red;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
