body {
  height: 100vh;
  background: linear-gradient(to bottom, #ffecb3, #ffcc80);
}

.box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerBox {
  min-width: 60rem;
  max-width: 65rem;
  padding: 2rem 4rem;
  border: 1px solid #ffb200;
  border-radius: 9px;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.registerIntroBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 3.5rem;
}

.logo {
  width: 6rem;
}

.roleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
}

.roleBox p {
  margin-bottom: 0.25rem;
}

.rolesFlexBox {
  display: flex;
  gap: 0.5rem;
}

.role {
  padding: 1rem 0.75rem;
  transition: all 0.3s;
}

.role:hover {
  box-shadow: inset 0 0 0 2px #ffd495;
  border-radius: 50%;
  cursor: pointer;
}

.roleActive {
  box-shadow: inset 0 0 0 2px #ffd495;
  border-radius: 50%;
}

.linksBox {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-size: 1.5rem;
  text-align: center;
}

.loginTitle {
  font-weight: 600;
  margin-bottom: 0.3rem;
}
